:root {
  /* colors */
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;

  /* font */
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}